<div class="flex space-x-4">
    <div class="w-80">
        <ul>
            <li>
                <a routerLink="/">All</a>
            </li>
            <li *ngFor="let categori of categories()">
                <a routerLink="/category/{{categori.slug}}">{{categori.name}}</a>
            </li>
        </ul>
    </div>
    <div class="grid grid-cols-4 gap-8 w-full">
        <app-product
            *ngFor="let producto of products()" 
            [product]="producto"
            (addToCart)="addToCart($event)"
        />
        
    </div>
</div>